<mat-card class="card" *ngIf="user$ | async as user">
  <mat-card-header>
    <mat-icon mat-card-avatar class="avatar">assignment</mat-icon>
    <mat-card-title>Formularz</mat-card-title>
    <mat-card-subtitle>Dodawanie wagi dla {{user.name}} {{user.surname}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [formGroup]="formGroup">

    <mat-form-field>
      <input matInput placeholder="Waga" type="number" formControlName="weight" (keyup.enter)="send()" />
      <span matSuffix> kg </span>
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/user', userId]">Anuluj</button>
    <button mat-button (click)="send()" [disabled]="formGroup.invalid">Dodaj</button>
  </mat-card-actions>
</mat-card>