<mat-card class="card">
    <mat-card-header>
        <mat-icon mat-card-avatar class="avatar">list</mat-icon>
        <mat-card-title>Lista</mat-card-title>
        <mat-card-subtitle>Lista użytkowników</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <mat-nav-list>

            <a mat-list-item *ngFor="let user of users" [routerLink]="['/user', user.id]">
                <h4 mat-line>{{user.name}} {{user.surname}} ({{user.age}} lat)</h4>
            </a>

        </mat-nav-list>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button routerLink="/user">Dodaj użytkownika</button>
    </mat-card-actions>
</mat-card>