.card {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

mat-form-field {
    width: 100%;
}

.avatar {
    font-size: 40px;
    width: 40px;
    height: 40px;
}

mat-card-content {
    margin: 0 -24px;
}

mat-card-content /deep/ .mat-list-item-content {
    padding: 0 30px !important;
}