.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.buttons mat-form-field {
    padding-right: 20px;
}

.buttons button {
    min-width: 150px;
}

.avatar {
    font-size: 40px;
    width: 40px;
    height: 40px;
}

mat-card {
    margin: 40px auto 0 auto;
    width: 100%;
    max-width: 900px;
}

mat-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}