<ng-container *ngIf="data$ | async as data">
    <div class="buttons">
        <div [formGroup]="formGroup">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Od" formControlName="fromDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="picker2" placeholder="Do" formControlName="toDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" [routerLink]="['/form', userId]">Dodaj wage</button>
    </div>

    <app-table [userId]="userId" [filters]="formGroup"></app-table>

    <mat-card>
        <mat-card-header>
            <mat-icon mat-card-avatar class="avatar">show_chart</mat-icon>
            <mat-card-title>Wykres</mat-card-title>
            <mat-card-subtitle>Wykres wag</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="data" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
                [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel" [autoScale]="autoScale">
            </ngx-charts-line-chart>
        </mat-card-content>
    </mat-card>
</ng-container>