<mat-card class="card">
  <mat-card-header>
    <mat-icon mat-card-avatar class="avatar">assignment</mat-icon>
    <mat-card-title>Formularz</mat-card-title>
    <mat-card-subtitle>Dodawanie użytkownika</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content [formGroup]="formGroup">

    <mat-form-field>
      <input matInput placeholder="Imię" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nazwisko" formControlName="surname" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Wiek" type="number" formControlName="age" />
    </mat-form-field>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/">Anuluj</button>
    <button mat-button (click)="send()" [disabled]="formGroup.invalid">Dodaj</button>
  </mat-card-actions>
</mat-card>